---
import Layout from '../layouts/Layout.astro';

const user = Astro.cookies.get('userId');
console.log(user);
if (!user) {
  return Astro.redirect('/');
}
---

<Layout title='Dashboard'>
  <h1>Dashboard</h1>
</Layout>
