---
import Layout from '../layouts/Layout.astro';

const user = Astro.cookies.get('userId');
if (!user) {
  return Astro.redirect('/');
}
---

<Layout title='Dashboard'>
  <div
    class='max-lg:px-24 px-48 z-20 py-12 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mx-auto flex flex-col gap-y-10 items-center justify-center'
  >
    <h1 class='text-center text-3xl text-slate-700'>
      It seems you didn't upload any files yet. <span class='text-orange-600'
        >Let's start!!</span
      >
    </h1>
    <div class='flex items-center gap-x-6'>
      <input
        type='file'
        class='file-input file-input-bordered border-orange-600 file-input-[orange-600] w-full max-w-xs'
      />
      <button
        type='submit'
        class='border border-slate-600 bg-transparent text-orange-600 py-2.5 px-4 rounded-md hover:bg-orange-600 hover:border-orange-600 hover:text-white'
      >
        Upload
      </button>
    </div>
  </div>
</Layout>
