---
import type { SelectedPick } from '@xata.io/client';
import Layout from '../layouts/Layout.astro';
import { XataClient, type FilesRecord } from '../xata';

import * as csv from 'csv-string';

const user = Astro.cookies.get('userId');
if (!user) {
  return Astro.redirect('/');
}

const xata = new XataClient({ apiKey: import.meta.env.XATA_API_KEY });

const files = await xata.db.files.filter({ 'user.id': user.value }).getMany();

type Data = {
  headers: string[];
  data: { [k: string]: string }[];
};

const getFileData = async (fileName: string): Promise<Data> => {
  const correctFile = await xata.db.files
    .filter({ name: fileName, 'user.id': user.value })
    .getFirst();
  const file = await xata.db.files.read(correctFile!.id, [
    'id',
    'name',
    'file',
    'file.base64Content',
    'file.signedUrl',
  ]);
  const plainText = Buffer.from(file?.file?.base64Content!, 'base64').toString(
    'utf-8'
  );
  const parsedCsv = csv.parse(plainText, { output: 'objects' });
  const headers = Object.keys(parsedCsv[0]);
  return { headers, data: parsedCsv };
};

const { headers, data }: Data = await getFileData(
  'Untitled spreadsheet - Sheet1 (1).csv'
);
---

<Layout title='Dashboard'>
  {
    files.length === 0 ? (
      <div class='max-lg:px-24 px-48 z-20 py-12 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mx-auto flex flex-col gap-y-10 items-center justify-center'>
        <h1 class='text-center text-3xl text-slate-700'>
          It seems you didn't upload any files yet.{' '}
          <span class='text-orange-600'>Let's start!!</span>
        </h1>
        <form
          class='flex items-center gap-x-6 max-md:flex-col max-md:gap-y-6'
          method='POST'
          action='/api/upload'
          enctype='multipart/form-data'
        >
          <input
            type='file'
            name='file'
            id='file'
            required
            class='file-input file-input-bordered border-orange-600 file-input-[orange-600] w-full max-w-xs'
          />
          <button
            type='submit'
            class='border border-slate-600 bg-transparent text-orange-600 py-2.5 px-4 rounded-md hover:bg-orange-600 hover:border-orange-600 hover:text-white'
          >
            Upload
          </button>
        </form>
      </div>
    ) : (
      <div class='grid grid-cols-[auto,1fr] w-full z-50'>
        <div class='py-16 px-8 bg-gray-50'>
          {files.map((file) => (
            <button
              onclick={() => getFileData(file?.name ?? '')}
              class='text-orange-600 font-bold mb-4'
            >
              {file.name}
            </button>
          ))}
        </div>
        <div class='overflow-x-scroll w-full'>
          <table class='table w-full'>
            {/* head */}
            <thead class='text-xl'>
              <tr>
                {headers.map((header) => (
                  <th>{header}</th>
                ))}
              </tr>
            </thead>
            <tbody>
              {data.map((row) => (
                <tr class='hover'>
                  {Object.values(row).map((data) => (
                    <td>{data}</td>
                  ))}
                </tr>
              ))}
            </tbody>
          </table>
        </div>
      </div>
    )
  }
</Layout>
