---
import Layout from '../layouts/Layout.astro';
import { XataClient } from '../xata';

import * as csv from 'csv-string';

const user = Astro.cookies.get('userId');
if (!user) {
  return Astro.redirect('/');
}

const xata = new XataClient({ apiKey: import.meta.env.XATA_API_KEY });

const files = await xata.db.files.filter({ 'user.id': user.value }).getMany();

const file = await xata.db.files.read(files[0].id, [
  'id',
  'name',
  'file',
  'file.base64Content',
  'file.signedUrl',
]);
console.log(file?.file?.base64Content);

const plainText = Buffer.from(file?.file?.base64Content!, 'base64').toString(
  'utf-8'
);
console.log(plainText);
const parsedCsv = csv.parse(plainText, { output: 'objects' });
console.log(parsedCsv);
// const data = parsedCsv.map((row) => Object.values(row));
// console.log(data);
// console.log(Object.keys(parsedCsv[0]));
const headers = Object.keys(parsedCsv[0]);
// console.log(headers);
// console.log(Object.entries(parsedCsv));
---

<Layout title='Dashboard'>
  {
    files.length === 0 ? (
      <div class='max-lg:px-24 px-48 z-20 py-12 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mx-auto flex flex-col gap-y-10 items-center justify-center'>
        <h1 class='text-center text-3xl text-slate-700'>
          It seems you didn't upload any files yet.{' '}
          <span class='text-orange-600'>Let's start!!</span>
        </h1>
        <form
          class='flex items-center gap-x-6 max-md:flex-col max-md:gap-y-6'
          method='POST'
          action='/api/upload'
          enctype='multipart/form-data'
        >
          <input
            type='file'
            name='file'
            id='file'
            required
            class='file-input file-input-bordered border-orange-600 file-input-[orange-600] w-full max-w-xs'
          />
          <button
            type='submit'
            class='border border-slate-600 bg-transparent text-orange-600 py-2.5 px-4 rounded-md hover:bg-orange-600 hover:border-orange-600 hover:text-white'
          >
            Upload
          </button>
        </form>
      </div>
    ) : (
      <div class='grid grid-cols-[auto,1fr] w-full'>
        <div class='py-16 px-8 bg-gray-50'>
          {files.map((file) => (
            <p class='text-orange-600 font-bold mb-4'>{file.name}</p>
          ))}
        </div>
        <div class='overflow-x-scroll w-full'>
          <table class='table w-full'>
            {/* head */}
            <thead class='text-xl'>
              <tr>
                {headers.map((header) => (
                  <th>{header}</th>
                ))}
              </tr>
            </thead>
            <tbody>
              {parsedCsv.map((row) => (
                <tr class='hover'>
                  {Object.values(row).map((row) => (
                    <td>{row}</td>
                  ))}
                </tr>
              ))}
            </tbody>
          </table>
        </div>
      </div>
    )
  }
</Layout>
