---
import Layout from '../layouts/Layout.astro';

const user = Astro.cookies.get('userId');
console.log(user);
if (!user) {
  return Astro.redirect('/');
}
---

<Layout title='Dashboard'>
  <div
    class='max-lg:px-24 px-48 z-20 py-12 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mx-auto flex flex-cols items-center justify-center'
  >
    <h1 class='text-center text-3xl text-slate-700'>
      It seems you didn't uplaod any files yet. Let's start!!
    </h1>
  </div>
</Layout>
