---
import Layout from '../layouts/Layout.astro';
import { XataClient } from '../xata';
import bcrypt from 'bcryptjs';

const errors: Record<string, string> = {};

if (Astro.request.method === 'POST') {
  const xata = new XataClient({ apiKey: import.meta.env.XATA_API_KEY });

  const data = await Astro.request.formData();
  const name = data.get('name') as string;
  const email = data.get('email') as string;
  const password = data.get('password') as string;
  const confirmPassword = data.get('repeat-password') as string;

  const salt = bcrypt.genSaltSync(10);
  const hash = bcrypt.hashSync(password, salt);

  const userInDb = await xata.db.users.filter({ email: email }).getFirst();

  if (userInDb?.email === email) {
    errors.email = 'User already registerd with this email';
  } else if (password !== confirmPassword) {
    errors.password = 'Passwords do not match';
  } else if (!name || !email || !password || !confirmPassword) {
    errors.credentials = 'Please fill in all fields';
  } else {
    const user = await xata.db.users.create({
      name,
      email,
      password: hash,
    });

    // Set cookies
    Astro.cookies.set('userId', user.id, {
      httpOnly: true,
      secure: true,
    });
    Astro.cookies.set('userName', user.name, {
      httpOnly: true,
      secure: true,
    });
    Astro.cookies.set('userEmail', user.email, {
      httpOnly: true,
      secure: true,
    });

    return Astro.redirect('/dashboard', 302);
  }
}
---

<Layout title='Register'>
  <div class='grow flex flex-col items-center justify-center relative'>
    <h1 class='text-5xl text-slate-600 uppercase text bold'>Register</h1>
    <p class='text-red-800 text-xl mb-4 h-5 text-center'>
      {errors.credentials}
    </p>
    <form
      class='py-8 px-8 max-w-70% mx-auto'
      method='POST'
      action="/register"
    >
      <div class='flex flex-col items-start'>
        <label for='name' class='text-slate-600 text-xl'> Name:</label>
        <input
          type='text'
          name='name'
          id='name'
          class='border border-orange-600 mb-10 w-full rounded-md py-2 px-3 outline-3 outline-orange-600'
          placeholder='Enter your name'
          autocomplete='off'
        />
      </div>
      <div class='flex flex-col items-start'>
        <label for='email' class='text-slate-600 text-xl'> Email:</label>
        <input
          type='email'
          name='email'
          id='email'
          class='border border-orange-600 w-full rounded-md py-2 px-3 outline-3 outline-orange-600'
          placeholder='Enter your email'
          autocomplete='off'
        />
        <p class='text-red-800 text-xl mb-4 h-5 text-center'>
          {errors.email}
        </p>
      </div>
      <div class='flex flex-col items-start'>
        <label for='password' class='text-slate-600 text-xl'> Password:</label>
        <input
          type='password'
          name='password'
          id='password'
          class='border border-orange-600 mb-10 w-full rounded-md py-2 px-3 outline-3 outline-orange-600'
          placeholder='Enter your password'
          autocomplete='off'
        />
      </div>
      <div class='flex flex-col items-start'>
        <label for='repeat-password' class='text-slate-600 text-xl'>
          Confirm password:
        </label>
        <input
          type='password'
          name='repeat-password'
          id='repeat-password'
          class='border border-orange-600 w-full rounded-md py-2 px-3 outline-3 outline-orange-600'
          placeholder='Confirm your password'
          autocomplete='off'
        />
        <p class='text-red-800 mb-4 h-5 text-center'>
          {errors.password}
        </p>
      </div>
      <div class='text-center my-4'>
        <button
          type='submit'
          class='border border-slate-600 bg-white text-orange-600 text-xl py-2 px-4 rounded-md hover:bg-orange-600 hover:border-orange-600 hover:text-white'
        >
          Register
        </button>
      </div>
      <div class='text-center'>
        <a href='/signin'>
          <p>
            Already have an account?{' '}
            <span class='text-orange-600'>Sign In</span>
          </p>
        </a>
      </div>
    </form>
  </div>
</Layout>
