---
import Layout from '../layouts/Layout.astro';
import { XataClient } from '../xata';
import bcrypt from 'bcryptjs';

const errors: Record<string, string> = {};

if (Astro.request.method === 'POST') {
  const xata = new XataClient({ apiKey: import.meta.env.XATA_API_KEY });
  const data = await Astro.request.formData();
  const email = data.get('email') as string;
  const password = data.get('password') as string;

  const user = await xata.db.users.filter({ email }).getFirst();

  if (!user) {
    errors.credentials = 'Invalid credentials';
  } else {
    const authenticated = bcrypt.compareSync(password, user.password);
    if (!authenticated) {
      errors.credentials = 'Invalid credentials';
    } else {
      // Set cookies
      Astro.cookies.set('userId', user.id, {
        httpOnly: true,
        secure: true,
      });
      Astro.cookies.set('userName', user.name, {
        httpOnly: true,
        secure: true,
      });
      Astro.cookies.set('userEmail', user.email, {
        httpOnly: true,
        secure: true,
      });

      return Astro.redirect('/dashboard', 302);
    }
  }
}
---

<Layout title='Sign In'>
  <div class='grow flex flex-col items-center justify-center relative h-full'>
    <h1 class='text-5xl text-slate-600 uppercase text bold'>Sign In</h1>
    <form
      class='py-8 px-8 max-w-70% mx-auto'
      method='POST'
      action=`${import.meta.env.APP_URL}/signin`
    >
      <div class='flex flex-col items-start'>
        <label for='email' class='text-slate-600 text-xl'> Email:</label>
        <input
          type='email'
          name='email'
          id='email'
          class='border border-orange-600 mb-4 w-full rounded-md py-2 px-3 outline-3 outline-orange-600'
          placeholder='Enter your email'
          autocomplete='off'
        />
      </div>
      <div class='flex flex-col items-start'>
        <label for='password' class='text-slate-600 text-xl'> Password:</label>
        <input
          type='password'
          name='password'
          id='password'
          class='border border-orange-600 mb-4 w-full rounded-md py-2 px-3 outline-3 outline-orange-600'
          placeholder='Enter your password'
          autocomplete='off'
        />
      </div>
      <div class='text-center my-4'>
        <button
          type='submit'
          class='border border-slate-600 bg-white text-orange-600 text-xl py-2 px-4 rounded-md hover:bg-orange-600 hover:border-orange-600 hover:text-white'
        >
          Sign In
        </button>
      </div>
      <div class='text-center'>
        <a href='/register'>
          <p>
            Not registered yet?{' '}
            <span class='text-orange-600'>Register</span>
          </p>
        </a>
      </div>
    </form>
  </div>
</Layout>
