---
const user = Astro.cookies.get('userName');
---

<nav
  class='text-slate-600 flex items-center justify-between bg-transparent z-40'
>
  <div>
    <a href='/'>
      <h1 class='text-3xl'>
        Easy<span class='font-bold text-orange-600'>CSV</span>
      </h1>
    </a>
  </div>
  <ul class='flex items-center gap-x-8 max-md:hidden'>
    {
      user?.value ? (
        <>
          <p class='max-md:hidden'>
            Hi{' '}
            <span class='text-slate-700 font-bold'>
              {user.value.split(' ')[0]}
            </span>
          </p>
          <a
            href='/logout'
            class='transition ease-in-out text-xl bg-transparent text-orange-500 border border-1 hover:border-orange-600 border-slate-700 py-1 px-4 rounded-md hover:bg-orange-500 hover:text-white duration-300'
          >
            Sign Out
          </a>
        </>
      ) : (
        <>
          <a
            href='/signin'
            class='transition ease-in-out text-xl bg-transparent text-orange-500 border border-1 hover:border-orange-600 border-slate-700 py-1 px-4 rounded-md hover:bg-orange-500 hover:text-white duration-300'
          >
            Sign In
          </a>
          <a
            class='transition ease-in-out text-xl text-slate-800 font-semibold hover:text-orange-600 duration-300'
            href='/register'
          >
            Register
          </a>
        </>
      )
    }
  </ul>
  <div class='hidden max-md:dropdown max-md:dropdown-left max-md:block z-[100]'>
    <div
      tabindex={0}
      role='button'
      class='btn m-1 text-slate-700 bg-transparent border-none hover:text-orange-600 hover:bg-transparent'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='36'
        height='36'
        viewBox='0 0 24 24'
        ><path
          fill='currentColor'
          d='M18 18v2H6v-2h12Zm3-7v2H3v-2h18Zm-3-7v2H6V4h12Z'></path></svg
      >
    </div>

    {
      user?.value ? (
        <ul
          tabindex={0}
          class='dropdown-content z-[150] menu p-2 text-lg shadow bg-base-100 rounded-box w-52'
        >
          <li>
            <a href='/logout'>Sign Out</a>
          </li>
        </ul>
      ) : (
        <ul
          tabindex={0}
          class='dropdown-content z-[1] menu p-2 text-lg shadow shadow-orange-100 bg-base-100 rounded-box w-52'
        >
          <li>
            <a href='/signin'>Sign In</a>
          </li>
          <li>
            <a href='/register'>Register</a>
          </li>
        </ul>
      )
    }
  </div>
</nav>
