---
const user = Astro.cookies.get('userName');
---

<nav
  class='text-slate-600 flex items-center justify-between bg-transparent z-40'
>
  <div>
    <a href='/'>
      <h1 class='text-3xl'>
        Easy<span class='font-bold text-orange-600'>CSV</span>
      </h1>
    </a>
  </div>
  <ul class='flex items-center gap-x-8 max-md:hidden'>
    {
      user?.value ? (
        <>
          <p>Welcome {user.value}</p>
          <a
            href='/logout'
            class='transition ease-in-out text-xl bg-transparent text-orange-500 border border-1 hover:border-orange-600 border-slate-700 py-1 px-4 rounded-md hover:bg-orange-500 hover:text-white duration-300'
          >
            Sign Out
          </a>
        </>
      ) : (
        <>
          <a
            href='/signin'
            class='transition ease-in-out text-xl bg-transparent text-orange-500 border border-1 hover:border-orange-600 border-slate-700 py-1 px-4 rounded-md hover:bg-orange-500 hover:text-white duration-300'
          >
            Sign In
          </a>
          <a
            class='transition ease-in-out text-xl text-slate-800 font-semibold hover:text-orange-600 duration-300'
            href='/register'
          >
            Register
          </a>
        </>
      )
    }
  </ul>
</nav>
